<carousel></carousel>
<div class="container-fluid" style="height: {{ heading }}; position: relative;">

	<div class="heading segment">
		<h4>GET IN TOUCH</h4>
		<h4>-</h4>
	</div>
</div>

<div class="container tab-content">

	<div class="col-xs-12 col-sm-8 segment">
		<h5>ADRESS</h5>
		<p>Bokgatan 10, Malmö, Sweden</p>
	</div>

	<div class="col-xs-12 col-sm-8 segment">
		<h5>CALL ME</h5>
		<p>number: 073 9971075</p>
	</div>
	<div class="col-xs-24 col-sm-8 segment form">
		<h5>EMAIL ME</h5>
		<p>marta.dellanna@outlook.com</p>
	</div>

</div>