<carousel>

</carousel>

<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-8 item-description">
			<h4>{{ item.title }}</h4>

			<p> {{ item.paragraph1 }} </p>
			<p> {{ item.paragraph2 }} <a ng-href="{{item.url[0]}}" target="_blank">{{ item.urlName }}</a> </p>
			<p> {{ item.paragraph3 }} <a ng-href="{{item.url[1]}}" target="_blank">{{ item.urlName }}</a></p>
			<p> {{ item.paragraph4 }} </p>
			<p> {{ item.paragraph5 }} </p>
			<p> {{ item.paragraph6 }} </p>
		</div>
		<div ng-switch="item.designer" class="col-sm-12 col-md-8 col-md-offset-8 item-properties">

			<p>CATEGORIES: {{ item.categories}}</p>
			<p ng-switch-when="undefined">ARCHITECTS: {{ item.architects }}</p>
			<p>RELEASED: {{ item.released }}</p>
			<p>PLACED: {{ item.placed }}</p>
			<p>CLIENT: {{ item.client }}</p>
			<p ng-switch-when="MARTA DELL’ANNA">DESIGNER: {{ item.designer }}</p>
		</div>
		<div class="slide-show">
			<div class="slide-show-content col-xs-20 col-md-12 col-sm-10 col-sm-offset-1 col-md-offset-4 col-xs-offset-2" style="{{ slideShow }}; ">
				<div ng-controller="carouselCtrl">
				    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
				      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
				        <img ng-src="{{slide.image}}">
				        <div class="carousel-caption">
				        </div>
				      </div>
				    </div>
				</div>
			</div>
		</div>

	</div>
</div>