<carousel>

</carousel>

<div class="container">
	<div class="row">
		<div class="col-md-8 item-description">
			<h4>{{ item.title }}</h4>

			<p> {{ item.paragraph1 }} </p>
			<p> {{ item.paragraph2 }} </p>
			<p> {{ item.paragraph3 }} </p>
		</div>
		<div class="col-sm-8 col-md-8 col-md-offset-8 item-properties">
			<p>CATEGORIES: {{ item.categories}}</p>
			<p>INTERIOR ARCHITECTS: {{ item.architects }}</p>
			<p>RELEASED: {{ item.released }}</p>
			<p>PLACED: {{ item.placed }}</p>
			<p>CLIENT: {{ item.client }}</p>
		</div>
		<div class="slide-show">
			<div class="slide-show-content col-xs-24 col-sm-16" style="{{ slideShow }}"></div>
		</div>
	</div>

	</div>
</div>