<carousel>

</carousel>

<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-8 item-description">
			<h4>{{ item.title }}</h4>

			<p> {{ item.paragraph1 }} </p>
			<p> {{ item.paragraph2 }} </p>
			<p> {{ item.paragraph3 }} </p>
			<p> {{ item.paragraph4 }} </p>
			<p> {{ item.paragraph5 }} </p>
			<p> {{ item.paragraph6 }} </p>
		</div>
		<div class="col-sm-12 col-md-8 col-md-offset-8 item-properties">
			<p>CATEGORIES: {{ item.categories}}</p>
			<p>INTERIOR ARCHITECTS: {{ item.architects }}</p>
			<p>RELEASED: {{ item.released }}</p>
			<p>PLACED: {{ item.placed }}</p>
			<p>CLIENT: {{ item.client }}</p>
		</div>
		<div class="slide-show">
			<div class="slide-show-content col-xs-20 col-sm-10 col-sm-offset-1 col-md-offset-4 col-xs-offset-2" style="{{ slideShow }}"></div>
		</div>

	</div>
</div>