<carousel>
</carousel>

<article>
	<div class="container" id="home-columns">
		<div class="row">
			<div class="col-md-8 column article">

				<h4>INTERIOR DESIGN</h4>

				<h4><img class="icon" ng-src="/img/icons/head.jpg"/></h4>

				<p>We help companies and organizations renew or create their interior in a sustainable way. Our focus is to create an interior where expression is as important as function. The aim is to create unique design that will last for a long time.</p>

				<p>The starting point in every project is the unique conditions. It is most important to us that the client can follow the process From the initial idea to the final outcome.</p>

			</div>


			<div class="col-md-8 column article">

				<h4>PRODUCT DESIGN</h4>

				<h4><img class="icon" ng-src="/img/icons/chair.jpg"/></h4>

				<p>Our focus is to design eco-friendly products that are  good for our health, the economy and Planet Earth. We like to work with genuine and simple materials that tell you "this product is made from nature itself".</p>

				<p>We make a thourough investigation before designing a product. It is of great importance to us that there is a need for the product, we always  try to find the most beneficial material and way to produce it in an eco-friendly way.</p>

			</div>


			<div class="col-md-8 column article">

				<h4>DESIGN WITH LOVE</h4>

				<h4><img class="heart" ng-src="/img/icons/heart.jpg"/></h4>

				<p>Our main focus is to create design that makes a beneficial difference for humans, animals and the Planet. We believe that interior and product design with minimal environmental and social impact doesn’t mean that the design or function is secondary. These frames take our design to the next level.</p>

			</div>
		</div>
	</div>
</article>
