<carousel></carousel>

<div class="container">

	<div class="col-xs-24 tabs" name="tabs">
		<h4 id="pills"><a ng-href="/portfolio"><button type="button" class="btn">ALL</button></a>
		<button type="button" class="btn" id="active">INTERIOR</button>
		<a ng-href="/portfolio/scenography"><button type="button" class="btn">SCENOGRAPHY</button></a>
		<a ng-href="/portfolio/product"><button type="button" class="btn">PRODUCTS</button></a></h4>
	</div>

</div>

<div class="main">

	<div class="container list-view">

	<div class="row">
	  <div ng-repeat="item in interior">
	    <a class="portfolio-link" ng-href="/portfolio/{{interior[$index]._id}}">
	      <div class="col-sm-6 col-xs-24 first-row" id="no-offset">
	        <div style="background-image: url({{ interior[$index].media[0] }})" class="row-content">
	          <div class="title-box">
	            <h4 class="item-title"><bold>{{ interior[$index].title }}</bold></h4>
	            <p>{{ interior[$index].categories }}</p>
	          </div>
	        </div>
	      </div>
	    </a>
	  </div>
	</div>

	</div>
</div>