.carousel-control {
	display: none;
}
.carousel-indicators {
	display: none;
}
#margins {
	/*margin-bottom: 20px;*/
}
carousel {
	height: 100%;
	width: 100%;
	padding-bottom: 40px;
	z-index: -1000;

	.preloader {
		position: absolute;
		z-index: -100000;
		visibility: hidden;
	}

	.carousel-inner {
	    width: 100%;
	    height: 100%;
	    z-index: -1000;
	    .carouselSlide {
	    	background-repeat: no-repeat;
	    	background-position: center;
	    	background-size: cover;
	    }
	}
	.carousel-caption {
		opacity: 0.85;
		background-color: white;
		padding-top: 48px;
		letter-spacing: 4px;
		height: 210px;
		color: black;
		max-width: 477px;
		min-width: 300px;
		font-family: 'Source Code Pro';
		text-shadow: none;
	    position: absolute;
	    left: 50%;
	    top: 50%;
	    transform: translate(-50%, -50%);    
	    -webkit-transform: translate(-50%, -50%);
	    -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	    line-height: 20px;
	}
	.caption-content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%); 
		/*text-align: center;*/
	}
}
.navbar-controller {
	
}