body {
	font-family: 'Source Code Pro';
	color: black;
	line-height: 1;
}
.main {
	margin-top: 30px;
}
.first-row {
	width: 270px;
	height: 275px;
	background-size: cover;
	margin-top: 25px;
	    float: none;
    display: inline-block;
  }