body {
	font-family: 'Source Code Pro';
	color: black;
	line-height: 1;
}
.tabs {
	margin-top: 42px;
}
.tab-content {
	margin-top: 40px;
}
.arrow {
	margin-bottom: 20px;
}
.me {
	font-family: 'Source Code Pro';
	line-height: 1;
	text-align: center;
	margin-bottom: 10px;
	background-color: black;
}
.me p {
	line-height: 23px;
	font-size: 13px;
	color: #777777;
	font-weight: 400;
	margin-top: 10px;
}
.me h4 {
	text-align: center;
	margin-bottom: 16px;
	color: white;
}
.me h5 {
	text-align: center;
	margin-bottom: 10px;
	color: white;
}
.me h3 {
	margin-top: 46px;
	color: white;
}
.portrait {
	height: 380px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-bottom: 39px;
}
#contact:hover {
	cursor: pointer;
}
.resume p {
	margin-bottom: 47px;
}
.column {
	margin-bottom: 42px;
}
