header {
	height: 71px;
}
#logo {
	display: inline;
	color: black;
}
.navbar-default {
	background-color: white;
	border: none;
}
.navbar-right {
	margin-top: 2px;
}
#header-content {
	letter-spacing: 4px;
	padding-top: 7px;
}
.navbar-default .navbar-nav > li > a {
	color: black;
}
@media (max-width: 767px) {
    /* CSS goes here */
    #header-content {
    	letter-spacing: 0px;
    }
    header {
    	height: 64px;
    }
}