 @media(min-width: 1000px ) {

	.first-row, .second-row, .third-row, .fourth-row {
		-webkit-filter: grayscale(100%); 
	  filter: grayscale(100%);
	  padding: 10px;
	  color: transparent;

	}
	.first-row:hover, .second-row:hover, .third-row:hover, .fourth-row:hover {
		-webkit-filter: grayscale(0%); 
	  filter: grayscale(0%);
	  transition: 1.2s ease;
	  cursor: pointer;
		text-decoration: underline;
		color: white;
	}
	.first-row-content, .second-row-content, .third-row-content, .fourth-row-content  {
		height: 100%;
		background-size: cover;
		margin-bottom: 10px;
		padding-top: 20px;
		
	}	

	.first-row {
		height: 275px;
	}
	.second-row {
		height: 540px;

	}
	.third-row {
		height: 316px;
	}

	.fourth-row {
		height: 527px;
	}

} 
@media(max-width: 900px) {
	/*.first-row {
	height: 275px;
	}


	.second-row {
		height: 540px;
		background-size: cover;
	}
	.third-row {
		height: 316px;
		background-size: cover;
	}
	.fourth-row {
		height: 316px;
		background-size: cover;
	}*/
}


.tab-content {
	text-align: center;
}
.item-title {
	font-weight: 700;
}