<div class="modal-header">
	<a class="close" data-dismiss="modal" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span></a>
	<h4 class="modal-title">GET IN TOUCH</h4>
	<h4>-</h4>
</div>
<div class="modal-body" ng-controller="form">

	<form name="form" novalidate>

		<div class="container contact">
			<div class="col-xs-24 col-md-offset-1">
				<div class="row">
					<div class="col-md-8">
						<div class="form-group">
							<input name="name" ng-model="customer.name" type="text" class="form-control" id="name" placeholder="Your name">
						</div>
					</div>

					<div class="col-md-8">
						<div class="form-group">
							<input name="email" ng-model="customer.email" rows="2" type="email" class="form-control" id="adress" placeholder="Your e-mail" required="">
							<div ng-show="form.$submitted || form.email.$touched">
							      <span ng-show="form.email.$error.required">Tell us your email.</span>
							      <span ng-show="form.email.$error.email">This is not a valid email.</span>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-16">
						<div class="form-group">
							<input ng-model="customer.subject" type="text" class="form-control" id="zipCode" placeholder="Subject">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-16">
						<div class="form-group">
							<textarea name="message" ng-model="customer.message" type="text" class="form-control" rows="4" id="city" placeholder="Add message.."></textarea>
						</div>
					</div>
				</div>


				<div class="row links">
					<div class="col-xs-5">
						<h5>ADRESS</h5>
						<p>Bokgatan 10, Malmö, Sweden</p>
					</div>

					<div class="col-xs-5">
						<h5>EMAIL ME</h5>
						<a ng-href="mailto:marta.dellanna@outlook.com">marta.dellanna@outlook.com</a>
					</div>

					<div class="col-xs-5">
						<h5>CALL ME</h5>
						<p>number: 073 9971075</p>
					</div>
				</div>
			</div>
			<p>{{ notification }}</p>
		</div>



</div>
<div class="modal-footer">
	<!-- "Ok" button is disabled if user has not selected an option! -->
	<button
	class="btn"
	type="button"
	ng-click="ok()"

	>SUBMIT</button>
	<button class="btn" type="button" ng-click="cancel()">CANCEL</button>
</div>
	</form>