<uib-tabset type="pills">

  <uib-tab heading="ALL">
  	<div class="container list-view">

  		<div class="row">
        <div ng-repeat="item in firstRow">
          <a class="portfolio-link" ng-href="/portfolio/{{firstRow[$index]._id}}">
            <div class="col-md-6 col-xs-12 first-row">
              <div style="background-image: url({{ firstRow[$index].media[0] }}" class="first-row-content">
  		  				<h4 class="item-title"><bold>{{ firstRow[$index].title }}</bold></h4>
  		  				<p>{{ firstRow[$index].categories }}</p>
              </div>
            </div>
          </a>
        </div>
			 </div>

      <div class="row">
        <div ng-repeat="item in secondRow">
          <a class="portfolio-link" ng-href="/portfolio/{{secondRow[$index]._id}}">
            <div class="col-md-12 col-xs-24 second-row">
              <div style="background-image: url({{ firstRow[$index].media[0] }}" class="second-row-content">
                <h4 class="item-title"><bold>{{ secondRow[$index].title }}</bold></h4>
                <p>{{ secondRow[$index].categories }}</p>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="row">
        <div ng-repeat="item in thirdRow">
          <a class="portfolio-link" ng-href="/portfolio/{{thirdRow[$index]._id}}">
            <div class="col-md-12 col-xs-24 third-row">
              <div style="background-image: url({{ firstRow[$index].media[0] }}" class="third-row-content">
                <h4 class="item-title"><bold>{{ thirdRow[$index].title }}</bold></h4>
                <p>{{ thirdRow[$index].categories }}</p>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="row">
        <a class="portfolio-link" ng-href="/portfolio/{{fourthRow._id}}">
          <div class="col-md-8 col-xs-8 fourth-row">
            <div class="fourth-row-content" style="background-image: url({{ fourthRow.media[0] }})">
                <h4 class="item-title"><bold>{{ fourthRow.title }}</bold></h4>
                <p>{{ fourthRow.categories }}</p>
            </div>
          </div>
        </a>

        <a class="portfolio-link" ng-href="/portfolio/{{fourthRow._id}}">
          <div class="col-md-16 col-xs-16 fourth-row">
              <div class="fourth-row-content" style="background-image: url({{ fifthRow.media[0] }})">
                  <h4 class="item-title"><bold>{{ fifthRow.title }}</bold></h4>
                  <p>{{ fifthRow.categories }}</p>
            </div>
          </div>
        </a>
      </div>

	  </div>  
  </uib-tab>

  <uib-tab heading="INTERIOR">
  	Tab 1 content
  </uib-tab>

  <uib-tab heading="SCENOGRAPHY">
  	Tab 2 content
  </uib-tab>

  <uib-tab heading="PRODUCTS">
  	Tab 3 content
  </uib-tab>

</uib-tabset>
